/out/
/device/qcom/gki-kernel/
/kernel_platform/out/
/vendor/qcom/opensource/audio-kernel/include/soc/internal.h
/vendor/qcom/opensource/audio-kernel/soc/core.h
/vendor/qcom/opensource/audio-kernel/soc/pinctrl-utils.h
*.orig
/exports.txt
/kernel_platform/build.config
